version: "3.9"

services:
  web:
    build: .
    container_name: messaging_app_web
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: mysql:8
    container_name: messaging_app_db
    restart: always
    env_file:
      - .env
    ports:
      - "3306:3306"
